body {
    text-align: center;
    font-family: "Trebuchet MS", "Helvetica Neue", sans-serif;
    background-color: paleturquoise;
}

#title {
    /* font-weight: 400; */
}

#survey-container {
    max-width: 900px;
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

.form-row {
    padding: 3px;
    vertical-align: top;
}
.row-left {
    display: inline-block;
    text-align: right;
    padding: 5px;
    width: 40%;
    vertical-align: top;
}

.row-right {
    display: inline-block;
    text-align: left;
    width: 40%;
}

#dropdown {
    height: 30px;
}

.text-input {
    height: 20px;
    width: 90%;
}

fieldset {
    border: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

[type=radio], [type=checkbox] {
    margin-right: 10px;
    margin-bottom: 5px;
}

#other-area {
    margin-left: 25px;
}

#submit {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: darkturquoise;
    font-size: 20px;
    font-weight: bold;
}
